
:root{
    --primary-font: "IRANSans";
    --primary-color: #2bce56;
    --background-color: rgb(28 ,28 ,40);
    --whithe-color: #fff;
    /* --dark-color:  rgb(119 124 148); */
    --gray-color: rgb(119 124 148);
}