@media only screen and (max-width: 1500px) {
  .nav {
    width: 98%;
  }

  .menu__item {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 1320px) {
  .container{
    width: 102rem;
  }
  .nav__wrapper-left {
    margin-right: -2rem;
  }

  .menu {
    font-size: 1.6rem;
  }

  .search-nav {
    width: 6rem;
    height: 6rem;
    padding: 0;
    justify-content: center;
  }

  .search-nav__input {
    display: none;
  }

  .main__header {
    width: 100rem;
    height: 50rem;
  }
  
}

@media only screen and (max-width: 1080px) {
  .container{
    width: 75rem;
  }
  .nav {
    display: none;
  }
  
  .wrapper__nav-mobile {
    display: block;
  }

  .sign-btns {
    display: flex;
  }

  .sign-btn__mobile {
    display: none;
  }

  .main__header {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 80rem;
  }

  .main__header-image {
    width: 40rem;
    height: 42rem;
  }

  .main__header-title,
  .main__header-text {
    text-align: center;
  }
  
}
@media only screen and (max-width: 800px) {
  .container{
    width: 62rem;
  }
}
@media only screen and (max-width: 700px) {
  .container{
    width: 45rem;
  }
  .sign-btns {
    display: none;
  }

  .sign-btn__mobile {
    display: block;
  }

  .main__header {
    margin-top: 5rem;
    justify-content: center;
  }
  .courses-content{
    justify-content: center;
  }
  .courses-header__title{
  font-size: 2rem;
  }
  .courses-header__text{
   font-size: 1.4rem;
   }
  .course-box{
    max-width: 35rem;
  }
  
}

@media only screen and (max-width: 490px) {
  .container{
    width: 35rem;
  }
  .main__header{
    height: 70rem;
  }
  .main__header-right{
    align-items: center;
  }
  .main__header-image {
    width: 95%;
    height: 35rem;
    
  }
  .main__header-links{
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  .main__header-title {
    width: 95%;
    font-size: 5rem;
  }

  .main__header-text {
    font-size: 1.7rem;
    width: 95%;

  }
  .main__header-link-start{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    width: 15rem;
    height: 4.5rem;
  }
  .main__header-wrapper-icon{
    width: 4.5rem;
    height: 4.5rem;
  }
  .main__header-link-free-course-text {
  font-size: 1.6rem;
  }
  .courses-header{
    flex-wrap: wrap;
  }
  .courses-header__link{
    width: 16rem;
  font-size: 1.4rem;
  }
  .courses-header__icon{
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 370px) {
  .container{
    width: 27rem;
  }
  .main__header-image{
    margin-top: 6rem;
    height: 30rem;
  }
  .main__header-title {
  font-size: 3.5rem;
  }

  
}